@import "../../styles/variables.scss";

.header {
  font-size: $font-size-14;
  font-family: $font-oswald;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  border: solid black 1px;
  border-radius: 4px;
}

.modal_content_login, .modal_content_password{
  display: flex;
  justify-content: center;
  margin: 8px auto;

  label {
    width: 52px;
    font-family: $font-oswald;
    margin-right: 8px;
  }
}
